$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$modal-background: #ffffff;
$modal-order-background: #daf7ebbf;
$modal-text-color: #000000;
$modal-border: 2px solid grey;
$header-height: 60px;
$header-background: #e39f67;
$footer-height: 60px;
$footer-background: #0a0500;